.footer{
    /* position: f; */
    display: flex;
    bottom: 0;
    width: 100%;
    border: dashed darkviolet 1px;
}

.footer p{
    display: -webkit-inline-flex;
    font-weight: bold;
    right: 0;
}