@import "headerFooter.css";

:root{
    --Color0:       #846DF8;
    --Color1:       #5F6CD9;
    --Color2:       #75A2F0;
    --Color3:       #5FACD9;
    --Color4:       #6DE9F8;
    --Colorfont:    #fff;
    --ColorMainFont:#000;
    --ColorError:   #ff0000;
    --ColorX: repeating-linear-gradient( var(--Color0), var(--Color1), var(--Color2), var(--Color3), var(--Color4));
}



html, body {
    background: var(--ColorX);
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: auto;
    background-attachment: fixed;
    overflow: auto;
    overflow-x: hidden;
}

* {
    font-style: oblique;
}

.form {
    text-align: center;
    margin-top: 50px;
    width: 70%;
    height: auto;
    display: inline-block;
    margin-left: 15%;
    /* border: dashed deeppink 1px; */
}

.form input:focus{
    outline-style: none;
}

.form input{
    width: calc(100% - 60px);
    height: 60px;
    background: none;
    border-color: var(--Colorfont);
    font-size: 25px;
    
}

.form .right {    
    border-radius: 0px 40px 40px 0px;
    border-style: solid solid solid none;
    float: right;
    padding-right: 28px;
}

.form .left {
    border-radius: 40px 0px 0px 40px;
    margin-top: -2px;
    margin-bottom: -2px;
    border-style: solid none solid solid;
    float: left;
    padding-left: 28px;
}


.form ::placeholder{
    padding-right: 80px;
    color: var(--Colorfont);
    text-align: center;
    font-weight: bold;
    opacity: 0.3;
}

 .form .submit {
    cursor: pointer;    
    color: var(--Colorfont);
    font-weight: bold;
    width: calc(100% - 38px);
}
  
  .submit:hover{
    font-size: 35px;
}

.submit:active{
    color: var(--ColorMainFont);
}

.fa{
    display: table-footer-group;
    position: initial;
    float: left;
    border-color: var(--Colorfont);
    height: 60px;
    font-size: 25px;
    width: 25px;
    text-align: center;
}

.buttomBtn {
    /* border: black dashed 1px; */
    width: 70%;
    height: 52px;
    margin-left: 15%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 90px;
}

.leftBtn, .rightBtn {
    /* padding: .75rem .1rem; */
    border-radius: 10rem;
    background: var(--Color1);
    font-weight: bold;
    color: var(--Colorfont);
    width: 30%;
    min-width: 150px;
    text-decoration: none;
    text-align: center;
    height: 100%;
}

.leftBtn:focus, .rightBtn:focus, .submit:focus{
    background-color: var(--Color0);
    outline-style: none;
}

.error{
    color: var(--ColorError);
}

.PasswdMed{
    color: yellow;
}

.PasswdGood{
    color: green;
}

.leftBtn {float: right; min-width: 150px; max-width: 300px;}
.rightBtn {float: left; min-width: 100px; max-width: 300px;}

@media (pointer:none), (pointer:coarse){
    .form, .buttomBtn{width: 94%; margin-left: 3%;}
    .form input {height: 100px; font-size: 60px; width: calc(100% - 90px);}
    .buttomBtn{height: 70px; margin-top: 40px;}
    .fa{font-size: 50px;}
    /* .form .left{padding-left: 50px;} */
    
}