@import "header.css";
@import "footer.css";

:root{
     /*background Color*/
    --Color0: #846DF8;
    --Color1: #5F6CD9; /*font h Color*/
    --Color2: #75A2F0; /*font p Color*/
    --Color3: #5FACD9; /*button Color*/
    --Color4: #6DE9F8; /*border Color*/
    --Colorfont : #fff;
    --ColorMainFont : #000;
    --ColorX: repeating-linear-gradient( var(--Color0), var(--Color1), var(--Color2), var(--Color3), var(--Color4));
}



html, body {
    background: var(--ColorX);
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: auto;
    background-attachment: fixed;
    /* overflow: hidden; */
}
/*font style of all element*/
* {
    font-style: oblique;
}

.form {
    text-align: center;
    margin-top: 100px;
    width: 70%;
    height: 340px;
    /* border: coral dashed 1px; */
    margin-left: 15%;
}

.form input:focus{
    outline-style: none;
}

.form .right {
    width: calc(100% - 43px);
    height: 80px;
    background: none;
    border-radius: 0px 40px 40px 0px;
    border-style: solid solid solid none;
    border-color: #fff;
    font-size: 30px;
    float: right;
    
}

/*input password*/

.form .left {
    width: calc(100% - 43px);
    height: 80px;
    background: none;
    border-color: #fff;
    font-size: 30px;
    border-radius: 40px 0px 0px 40px;
    margin-top: -2px;
    margin-bottom: -2px;
    border-style: solid none solid solid;
    float: left;
}

::placeholder{
    color: var(--Colorfont);
    text-align: center;
    font-weight: bold;
}
 .submit {
    cursor: pointer;
    color: var(--Colorfont);
    font-weight: bold;
    /* text-align: center; */
} 

.leftBtn, .rightBtn {
    background: var(--ColorX);
    font-weight: bold;
    color: var(--Colorfont);
    margin-top: 20px;
    display: inline-block;
    width: 40%;
    min-width: 150px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}
.rightBtn::slotted{
    border-radius: 20px;
    background-color: #fff;
}
.leftBtn {float: right; min-width: 150px; max-width: 300px;}
.rightBtn {float: left; min-width: 100px; max-width: 300px;}

@media only screen and (max-width: 800px){
    .form{width: 94%; margin-left: 3%;}
}