



.BtnAnim{
  /* overflow: hidden; */
  display: none !important;
}
.Btn{
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 15px 10px;
  text-align: center;
  transition: all 0.3s;
  background-color: var(--Button);
  color: var(--Colorfont);
  overflow: hidden;
  box-shadow: 0px 0px 20px var(--shadow);
  position: relative;
}
.Btn::before{
  font-family: "FontAwesome";
  font-size: 100%;
  height: 100%;
  right: 110%;
  line-height: 3.3;
  position: absolute;
  top: 0%;
  transition: all 0.3s;
}
.Btn:hover {
  background-color: var(--ButtonActive) !important;
  color: var(--Colorfont);
  text-decoration: none;
}
.Btn:hover::before {right: 75%;}



.button {
  border-radius: 10rem;
  background: var(--Button);
  font-weight: bold;
  color: var(--Colorfont);
  width: 30%;
  text-decoration: none;
  text-align: center;
  width: 160px;
  height: 55px;
}

.Btn:hover{background: var(--ButtonActive);}

.Btn:focus{
  background-color: var(--ButtonActive);
  /* background: var(--Button); */
  outline-style: none !important;
}

.leftBtn {
  /* justify-self: start;
  justify-content: left; */
  /* position: absolute;
  float: left; */
  }

.centerBtn {
  /* position: relative; */
  
}

.rightBtn {
  /* position: relative !important;
  justify-content: right; */
}


.toggle-control {
  display: block;
  position: relative;
  cursor: pointer;
}
.toggle-control input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: none;
}
.toggle-control input[type=checkbox]:checked ~ .control {
  background-color: dodgerblue;
}
.toggle-control input[type=checkbox]:checked ~ .control:after {
  left: 70%;
}
.toggle-control .control {
  position: absolute;
  height: 40px;
  width: 90px;
  border-radius: 25px;
  background-color: darkgray;
  transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
  font-family: "FontAwesome";
  position: absolute;
  left: 5px;
  top: 20%;
  font-size: 21px;
  border-radius: 25px;
  transition: left 0.15s ease-in;
}



@media only screen and (max-width: 600px){
  .Btn::before{
    right: 75%;
  }
  /* .buttomBtn{width: 94%; margin-left: 3%;}
  .buttomBtn{height: 70px; margin-top: 40px;} */
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* @media only screen and (min-width: 600px) and (max-width: 768px) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen  and (max-width: 768px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  body{
      /* background-color: gold; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200) {
  body{
      /* background-color: coral; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
      /* background-color: cornflowerblue; */
  }

}