



.BtnAnim{
  overflow: hidden;
  display: none !important;
}
.Btn{
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 1rem 50px;
  transition: all 0.3s;
  height: 25px;
  width: 40px;
  background-color: var(--Button);
  overflow: hidden;
  box-shadow: 0px 0px 20px var(--shadow);
  display: block;
  position: absolute;
  margin: 0%;
}
.Btn::before{
  font-family: "FontAwesome";
  font-size: 100%;
  height: 100%;
  right: 110%;
  line-height: 3.3;
  position: absolute;
  top: 0%;
  transition: all 0.3s;
}
.Btn:hover {background-color: var(--ButtonActive) !important;}
.Btn:hover::before {right: 75%;}

.buttomBtn {
  /* width: 70%; */
  height: 52px;
  margin-top: 20px;
  margin-bottom: 90px;
  display: inline-grid;
  grid-template-columns: 33% 33% 34%;
  grid-column-start: 2;
  grid-column-end: 10;
  background-color: lightblue;
}

.button {
  border-radius: 10rem;
  background: var(--Button);
  font-weight: bold;
  color: var(--Colorfont);
  width: 30%;
  text-decoration: none;
  text-align: center;
  height: 100%;
  min-width: 150px;
  max-width: 300px;
}

.button:hover{background: var(--ButtonActive);}

.button:focus{
  background-color: var(--ButtonActive);
  /* background: var(--Button); */
  outline-style: none !important;
}

.leftBtn {
  justify-self: start;
  }

.centerBtn {
  position: relative;
  justify-self: center !important;
  grid-column-start: 1;
  grid-column-end: 2;
}

.rightBtn {
  position: relative !important;
  justify-self: end;
  grid-column-start: auto;
  grid-column-end: -1;
}


.toggle-control {
  display: block;
  position: relative;
  cursor: pointer;
}
.toggle-control input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: none;
}
.toggle-control input[type=checkbox]:checked ~ .control {
  background-color: dodgerblue;
}
.toggle-control input[type=checkbox]:checked ~ .control:after {
  left: 70%;
}
.toggle-control .control {
  position: absolute;
  height: 40px;
  width: 90px;
  border-radius: 25px;
  background-color: darkgray;
  transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
  font-family: "FontAwesome";
  position: absolute;
  left: 5px;
  top: 20%;
  font-size: 21px;
  border-radius: 25px;
  transition: left 0.15s ease-in;
}



@media only screen and (max-width: 600px){
  .Btn::before{
    right: 75%;
  }
  .buttomBtn{width: 94%; margin-left: 3%;}
  .buttomBtn{height: 70px; margin-top: 40px;}
}