
.stickers{
    height: 55px;
    width: 100%;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 5px;
}

.stickers img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.filter{
    width: 40px;
    height: 40px;
    padding: 0%;
    margin: 0%;
    border-radius: 50%;
    position: absolute;
}

.filter img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}



.filter .resize{
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 0%;
    margin: 0%;
    cursor: se-resize;
    background-color: black;
}

.filter .delet{
    width: 5px;
    height: 5px;
    position: absolute;
    top: -5px;
    left: -5px;
    cursor: pointer;
}
.filter .delet::before{
    font-family: "FontAwesome";
    content: "\f057";
    font-size: 12px;
}

.filter .bottomLeft{
    width: 5px;
    height: 5px;
    position: absolute;
    margin: 0%;
    padding: 0%;
    bottom: 0%;
    left: 0%;
    cursor: pointer;
    background-color: black;

}

.contener_video{
    display: inline-flex;
    /* display: inline-block; */
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 600px;
    /* padding-bottom: 100px; */
    background-color: cornflowerblue;
}

#video_id{
    width: 600px;
    height: 300px;
    margin-right: 0.5%;
    max-width: 800px;
    max-height: 800px;
    padding: 0%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#canva_id{
    width: 600px;
    height: 300px;
    margin-left: 0.5%;
    position: relative;
    padding: 0%;
    display: block;
    /* margin: 0%; */
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 80px; */
}
#canva, #video {
    padding: 0%;
    margin: 0%;
    border: 1px dashed darkturquoise;
    display: block;
    /* padding-bottom: 100px; */
}

.hidden-stickers img{display: none;}

.btnup::before{content: "\f093";}
.btncaptuer::before{content: "\f030";}
.btncaptuerIn::before{content: "\f030";}
.btnShr::before{content: "\f14d";}
.leftBtn{left: 15%;}
.rightBtn{right: 15%;}
.out-form{
    margin-bottom: 20px;
    max-width: 600px;
}

.btncaptuerIn{
    position: absolute;
    opacity: 0.5;
    display: none;
}

.control-camera , .control-stickers{
    height: 40px;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.control-camera .control::after{content: "\f030";}
.control-stickers .control::after{content: '\f2ab'}

.hiddenBtn{
    display: none !important;
    height: 0;
    width: 0;
    opacity: 0;
}

.buttomBtn{
    background-color: chocolate;
    margin-top: 40px;
}


#hiddenCanva{display: none;}



@media only screen and (max-width: 1200px){
    .leftBtn{left: 5%;}
    .rightBtn{right: 5%;}
    .contener_video{
        /* height: auto; */
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /* margin-bottom: 40px; */
        /* padding-bottom: 100px; */
        /* background-color: chartreuse; */
    }
    /* .contener_canva */
    .out-form{width: 97%;}
    .btncaptuer{display: none;}
    .btncaptuerIn{

        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -8px;
        /* position: relative; */
        height: 5px;
        padding: 1px 40px;
    }
    .btncaptuerIn:hover{
        margin-top: -60px;
        /* height: 25px; */
        padding: 1rem 50px;
        height: 25px;
        width: 40px;
        /* left: 250px; */
        /* padding: 1rem; */
    }

    /* .btncaptuerIn::before{
        right: 75%;
      } */
}
