

/* .contener_camera{
    display: block;
    max-width: 1300px;
}

.Btn {
    position: relative;
} */

.form{
    grid-column-start: 1;
    grid-column-end: 10;
}

.stickers{
    height: 55px;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 5px;
    margin-top: 20px;
    grid-column-start: 2;
    grid-column-end: 10;
}

.stickers img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}



.filter{
    width: 40px;
    height: 40px;
    padding: 0%;
    margin: 0%;
    border-radius: 50%;
    position: absolute;
}

.filter img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}



.filter .resize{
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 0%;
    margin: 0%;
    cursor: se-resize;
    background-color: black;
}

.filter .delet{
    width: 5px;
    height: 5px;
    position: absolute;
    top: -5px;
    left: -5px;
    cursor: pointer;
}
.filter .delet::before{
    font-family: "FontAwesome";
    content: "\f057";
    font-size: 12px;
}

.control-camera {
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: start;
}

.control-stickers {
    grid-column-start: 4;
    grid-column-end: 4;
    justify-self: center;
}

.control-camera , .control-stickers{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.control-camera .control, .control-stickers .control{
    width: 100px;
    height: 40px;
}

.resolution{
    margin-top: 20px;
    margin-bottom: 0%;
    grid-column-start: 6;
    grid-column-end: 6;
    height: 35px;
    background: none;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 15px;
    outline: none;
    font-weight: bold;
    justify-self: end;
    width: 100px;
    background-color: dodgerblue;
}




.control-camera .control::after{content: "\f030";}
.control-stickers .control::after{content: '\f2ab'}


.contener_camera{
    grid-column-start: 1;
    grid-column-end: 11;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    /* background-color: maroon; */
}

.form{
    margin-top: 40px;
}

.out-form{
    grid-column-start: 1;
    grid-column-end: 4;
}

.contener_video{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: auto;
    grid-row-end: auto;
    /* background-color: mediumblue; */
    height: auto;
    /* display: inline-block; */
    display: grid;
    grid-template-columns: 50% 50%;

    /* display: inline-block; */
}

#video_id{
    position: relative;
    /* display: grid; */
    /* grid-template-columns: auto;
    grid-template-rows: auto 50px; */
    grid-column-start: 1;
    grid-column-end: 2;
    /* grid-row-start: 2; */
    justify-self: center;
    /* background-color: magenta; */
    /* width: auto; */

}

#canva_id{
    position: relative;
    grid-column-end: -1;
    grid-column-start: 2;
    justify-self: center;
    width: auto;
}

#canva_id, #video_id{
    display: table-cell;
    width: auto;
    height: auto;
    margin: auto;
}

#canva, #video {
    display: table-cell;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 5px;
    padding: 0%;
    margin: auto;
}

#video{
    justify-self: center;
}

.btnup::before{content: "\f093";}
.btncaptuer::before{content: "\f030";}
.btncaptuerIn::before{content: "\f030";}
.btnShr::before{content: "\f14d";}

.btncaptuerIn{
    opacity: 0.3;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
    display: none ;
}


.hiddenBtn{
    /* display: none !important; */
}



#hiddenCanva{
    width: 480px;
    height: 360px;
    display: none !important;
}

.buttomBtn{
    margin-top: 30px;
    grid-column-start: 1;
    grid-column-end: 10;
}

.rightBtn{
    margin-right: 10px;
}

.leftBtn{
    margin-left: 10px;
}

.buttomBtn .btncaptuer{
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
}

.thumbnails{
    grid-column-start: 1;
    grid-column-end: 11;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* @media only screen and (min-width: 600px) and (max-width: 768px) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen  and (max-width: 768px) {
    .stickers{
        grid-column-start: 1;
        grid-column-end: 11;
    }
    .control-camera{
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .control-stickers{
        grid-column-start: 7;
        grid-column-end: 8;
    }

    /* .resolution{
        grid-column-start: 9;
        grid-column-end: 10;
        justify-self: start;
    } */
    #video_id{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 640px;
        height: 360px;
        background-color: gold;
    }
    #canva_id{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #video{
        width: 640px;
        height: 360px;
    }

    .btncaptuerIn{
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: -62px;
        margin-bottom: -50px;
    }

    .btncaptuer{
        display: none;
    }
    .buttomBtn .leftBtn{
        margin: auto;
        justify-self: center;
    }

    .buttomBtn .rightBtn{
        justify-self: center;
        margin: auto;
        /* display: none; */
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-color: gold;
    }
    .stickers{
        grid-column-start: 1;
        grid-column-end: 11;
    }



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200) {
    body{
        background-color: coral;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        background-color: cornflowerblue;
    }
}