
.stickers{
    /* border: yellowgreen dashed 2px; */
    height: 100px;
    width: 100%;
}

.stickers img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.div_video{
    display: inline-flex;
    /* border: forestgreen dashed 2px; */
    width: 100%;
    height: 100%;
}

#video_id{
    /* border: darkviolet dashed 2px; */
    width: 49%;
    height: 90%;
    margin-right: 0.5%;
    /* background-color: gainsboro; */
    max-width: 800px;
    max-height: 800px;
    padding: 0%;
    /* margin: 0%; */
    /* display: inline; */
    /* display: inline; */
}
/* #video {width: 90%; height: 90%; padding: 0%; margin: 0%;} */

#canva_id{
    /* border: red dashed 2px; */
    width: 49%;
    height: 90%;
    margin-left: 0.5%;
    max-width: 800px;
    max-height: 800px;
    padding: 0%;
    /* right: 0%; */
    margin: 0%;
    /* float: right; */
    /* display: inline; */
    /* background-color: fuchsia; */
}
#canva, #video {width: 100%; height: 100%; padding: 0%; margin: 0%;}
/* #video {width: 0; height: 0;} */

/* .hedden {display: none;} */

.btnup::before{content: "\f093";}
.btncaptuer::before{content: "\f030";}
.btncaptuerIn::before{content: "\f030";}
.btnShr::before{content: "\f14d";}
.leftBtn{left: 15%;}
.rightBtn{right: 15%;}
.out-form{margin-bottom: 20px;}

.btncaptuerIn{
    position: absolute;
    /* left: 18%; */
    /* margin-top: 10px; */
    opacity: 0.5;
    display: none;
}

.control-camera{
    height: 40px;
    width: 100px;
    margin-left: 20px;
}
.control-camera .control::after{content: "\f030";}

.out-form{
    width: 40%;
    max-width: 800px;
}

.hiddenBtn{
    display: none;
    height: 0;
    width: 0;
    opacity: 0;
}

@media only screen and (max-width: 800px){
    .leftBtn{left: 5%;}
    .rightBtn{right: 5%;}
    .div_video{height: 100%; display: inline-block;}
    #video_id{width: 99%; height: 49%;}
    #canva_id{width: 99%; height: 49%; margin-left: 0.5%;}
    /* #hidden_canva{display: none;} */
    .out-form{width: 97%;}
    .btncaptuer{display: none;}
    .btncaptuerIn{
        display: inline-block;
        margin-top: -60px;}
}
