:root{

    --Color0:           #5C848C;
    --Color1:           #384549;
    --Color3:           #CFCECD;
    --Color4:           #767B7B;
    --headerColor:      #f8f9fa;
    --brdColor:         #505050;
    --menuColor:        #ffffff;
    --shadow:           #000000;
    --shadow2:          rgba(0, 0, 0, 0.4);
    --headPost:         #F08080;

    --Colorfont:        var(--Color4);
    --ColorMainFont:    #000000;
    --Button:           #497f42;
    --ButtonActive:     #13ce66;
    --Success:          #33FF3C;
    --Error:            #FF0000;
    --font1:              ;
    --font2:              ;
    --font3:            #D5DBDB;
    --bgColor:          #ffffff;
}

