:root{
    --footerColor:      #f8f9fa;
    --brdColor:         #F08080;
    --menuColor:        #ffffff;
    --shadow:           #000000;
    --shadow2:          rgba(0, 0, 0, 0.4);
    --headPost:         #F08080;
    --Colorfont:        #ffffff;
    --ColorMainFont:    #000000;
    --ColorSCfont:      #707070;
    --Button:           #497f42;
    --ButtonActive:     #13ce66;
    --Success:          #33FF3C;
    --Error:            #FF0000;
    --SCbgColor:        #D5DBDB;
    --bgColor:          #ffffff;
}

