
/* ####################### */
/* style of delete account */
/* ######################## */

/* ################### */
/* style alert message */
/* ################### */
.alt{
    width: 100%;
    text-align: center;
}

.alt p{
    margin: auto;
    position: relative;
    color: var(--Error);
}

.alt label:first-of-type{
    margin: auto;
    position: relative;
    float: left;
    width: 100px;
    margin-bottom: 20px;
}

.alt label:last-of-type{
    margin: auto;
    position: relative;
    float: right;
    width: 100px;
    margin-bottom: 20px;
}