
.form{
    text-align: center;
    margin-top: 50px;
    width: 70%;
    height: auto;
    display: inline-block;
    margin-left: 15%;
    margin-top: 20px;
    /* border: dashed deeppink 1px; */
}

.form input:focus, .form select:focus, .out-form:focus{
    outline-style: none;
    /* -moz-outline-style: none; */
}

.form input, .form select, .out-form{
    width: calc(100% - 60px);
    height: 60px;
    border-width: 3px;
    background: none;
    border-color: var(--Colorfont);
    font-size: 25px;
    /* -webkit-appearance:none; */
    
}

.right {    
    border-radius: 0px 40px 40px 0px;
    -webkit-border-radius: 0px 40px 40px 0px;
    -moz-border-radius: 0px 40px 40px 0px;
    border-style: solid solid solid none;
    float: right;
    padding-right: 28px;
}

.left {
    border-radius: 40px 0px 0px 40px;
    -webkit-border-radius: 40px 0px 0px 40px;
    -moz-border-radius: 40px 0px 0px 40px;
    margin-top: -3px;
    margin-bottom: -3px;
    border-style: solid none solid solid;
    float: left;
    padding-left: 28px;
}

.center{
    border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    /* margin-top: -3px;
    margin-bottom: -3px; */
    border-style: solid solid solid solid;
    /* padding-left: 28px; */
}

.form ::placeholder, .out-form::placeholder{
    padding-right: 80px;
    color: var(--Colorfont);
    text-align: center;
    font-weight: bold;
    opacity: 0.3;
}

.submit {
    cursor: pointer;    
    color: var(--ColorMainFont);
    font-weight: bold;
    width: calc(100% - 38px);
}
  
  .submit:hover{
    font-size: 35px;
}

.submit:active{
    color: var(--ColorMainFont);
}

.fa{
    display: table-footer-group;
    position: initial;
    float: left;
    color: var(--ColorMainFont);
    font-size: 25px;
    width: 25px;
    text-align: center;
    cursor: pointer;
}



.error{
    color: var(--Error);
}
.success{
    color: var(--Success);
  }

.PasswdMed{
    color: yellow;
}

.PasswdGood{
    color: var(--Success);
}



@media (pointer:none), (pointer:coarse){
    .form {width: 94%; margin-left: 3%;}
    .form input {
        height: 100px;
        font-size: 60px;
        width: calc(100% - 90px);
        border-width: 3px;
    }
    .form .left .select{margin-top: -3px;}
    .fa{font-size: 50px;}
    /* .form .left{padding-left: 50px;} */
    
}