@import "Colors.css";
@import "menu.css";
@import "btns.css";


html, body {
    background: var(--bgColor);
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
}



* {
    font-style: oblique;
}

.error{
    color: var(--Error);
}

.success{
    color: var(--Success);
}

.content {
    height: auto;
    margin-top: auto;
    overflow: hidden;
    padding-top: 1rem;
    margin-bottom: 40px;
    
}


.navBar {
    width: 100%;
    height: 65px;
    background-color: var(--headPost);
    box-shadow: 0px 0px 20px var(--shadow);
    z-index: 4;
    transition: all 0.5s;
    display: inline-block;
}

.navBar h1{
    text-shadow: -4px 2px 3px var(--shadow2);
    font-weight: bold;
    color: var(--ColorMainFont);
}

.navHidden{
    transform: translateY(-110%);
}

.navBar a{
    text-decoration: none;
    /* -moz-text-decoration-line: none; */
    color: var(--ColorMainFont);
}

.navBar a:focus{
    outline-style: none;
    /* -moz-text-decoration-line: none; */
    color: var(--Colorfont);
}

.navLeft{
    margin-left: 10px;
}

.navCenter{
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100%;
}

.navCenter p{
    margin-top: 0%;
    margin-bottom: 0%;
}

.navRight{
    padding: 0%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px !important;
    display: inline;
}

.footer{
    position: fixed;
    height: 2rem;
    bottom:  0%;
    width: 100%;
    background-color: var(--headerColor);
    box-shadow: 0px 0px 20px var(--shadow);
}

.footer p{
    font-weight: bold;
    float: right;
    position: relative;
    top: -10px;
    margin-right: 10px;
}




@media (pointer:none), (pointer:coarse) {
    .navBar {
        height: 90px;
    }
  }






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* @media only screen and (min-width: 600px) and (max-width: 768px) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen  and (max-width: 768px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  body{
      /* background-color: gold; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200) {
  body{
      /* background-color: coral; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
      /* background-color: cornflowerblue; */
  }

}