@import "Colors.css";
@import "menu.css";
html, body {
    background: var(--ColorX);
    /* width: 100%; */
    padding: 0%;
    /* border: forestgreen dashed 2px; */
    margin: auto;
    background-attachment: fixed;
    overflow: auto;
    overflow-x: hidden;
    height: auto;
    min-height: 600px;
    /* overflow-y: scroll; */
    /* height: 100%; */
    /* padding-left: 2px; */
    position: relative;

}

/* body.modal-open{position: fixed;} */

/* body{overflow: hidden; width: 100%;} */


* {
    font-style: oblique;
}

.content {
    height: auto;
    margin-bottom: 3rem;
    padding-left: 5px;
    padding-right: 5px;
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    /* border: dashed deeppink 2px; */
    /* position: relative; */
    /* display: flex; */
    overflow-x: hidden;
}
/* .tst {
    background-color: olive;
    height: 200px;
    width: 200px;
} */

.navBar {
    width: 100%;
    height: 80px;
    display: inline-flex;
    background-color: var(--Color2);
    justify-content: space-around;
    color: var(--ColorMainFont);
    /* padding: 0%; */
    /* overflow: auto; */
}

.navBar a{
    text-decoration: none;
    color: var(--ColorMainFont);
}

.navBar a:focus{
    outline-style: none;
    color: var(--Colorfont);
}

.navLeft{
    position: absolute;
    /* border: blueviolet dashed 1px; */
    width: calc(50% - 11px);
    left: 10px;
    /* overflow-x: hidden; */
}

.navRight{
    position: absolute;
    right:  calc(0% + 5px);
    /* left: 90%; */
    text-align: end;
    /* margin-right: 2px; */
    /* margin-right: -50%; */
    /* float: right; */
    /* display: inline-block; */
    /* border: blueviolet dashed 1px; */
    /* overflow: hidden; */
    /* width: calc(50% - 100px); */
    /* height: auto; */
}

.footer{
    /* position: relative;
    bottom: 0%; */
    /* vertical-align:bottom; */
    position: fixed;
    /* position: static; */
    height: 2.2rem;
    bottom:  0.1%;
    width: 100%;
    background-color: var(--Color2);
    /* border: darkblue dashed 1px; */
}

.footer p{
    font-weight: bold;
    float: right;
    /* position: unset; */
    /* margin-top: 6px; */
    /* padding-right: 10px; */
}

@media (pointer:none), (pointer:coarse) {
    .navBar {
        height: 100px;
    }
  }