@import "Colors.css";
@import "menu.css";


html, body {
    background: var(--bgColor);
    padding: 0%;
    margin: auto;
    background-attachment: fixed;
    overflow: auto;
    overflow-x: hidden;
    min-height: 650px;
    /* position: relative; */

}



* {
    font-style: oblique;
}

.error{
    color: var(--Error);
}

.success{
    color: var(--Success);
}

.content {
    height: auto;
    margin-top: auto;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.navBar {
    width: 100%;
    height: 65px;
    /* display: block; */
    /* display: inline-flex; */
    background-color: var(--headPost);
    justify-content: space-around;
    color: var(--ColorMainFont);
    box-shadow: 0px 0px 20px var(--shadow);
    position: fixed;
    z-index: 1000;
    transition: all 0.5s;

}

.navHidden{
    /* transform: scaleX(100%); */
    transform: translateY(-110%);
}

.navBar a{
    text-decoration: none;
    color: var(--ColorMainFont);
}

.navBar a:focus{
    outline-style: none;
    color: var(--Colorfont);
}

.navLeft{
    position: absolute;
    width: calc(50% - 11px);
    left: 10px;
}

.navRight{
    position: absolute;
    right:  calc(0% + 5px);
    text-align: end;
}

.footer{
    position: fixed;
    height: 2rem;
    bottom:  0%;
    width: 100%;
    background-color: var(--headerColor);
    box-shadow: 0px 0px 20px var(--shadow);
    /* margin-top: 40px; */
}

.footer p{
    font-weight: bold;
    float: right;
    position: relative;
    top: -10px;
    margin-right: 10px;
}




@media (pointer:none), (pointer:coarse) {
    .navBar {
        height: 90px;
    }
  }