
.list {
    list-style: none;
    /* margin-top: 110px; */
    justify-content: space-around;
    /* position: sticky; */
    /* position: static; */
    position: absolute;
    /* position: ; */
    /* display: block; */
    width: 50%;
    max-width: 300px;
    /* height: calc(100% * 6); */
    /* height: 50%; */
    height: 600px;
    /* min-height: 600px; */
    /* position: absolute; */
    /* float: right; */
    right: 0%;
    /* margin-top: -100%; */
    /* float: inline-start; */
    /* top: 0%; */
    transform: translateX(100%);
    background-color: rgba(110, 235, 249,0.5);
    transition: all 0.5s;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    /* display: none; */
    overflow-x: hidden;
}

.list li {
    
    text-align: left;
    margin-top: calc(100% / 8);
    /* margin-top: auto; */
    /* margin-bottom: calc(100% / 6); */
    font-size: 28px;
    /* padding: 20%; */
    height: calc(100% / 8);
    /* justify-content: space-between; */
    /* max-height: 70px; */
    font-weight:bold;
    cursor: pointer;
    /* display: block; */
    /* position: absolute; */
    /* position: relative; */
  }
    
  
    
  
  .list li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
    /* margin-top: 20px; */
    /* margin-bottom: 40%; */
  }
  .list li:hover {
    letter-spacing: 2px;
  }
  .list li:hover::before {
    opacity: 1;
    transform: scale(1.2, 1); 
  }
  .list li::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
  }
  .list li:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  

.img {
    width: 80px;
    height: 80px;
    right: 0%;
    /* position: relative; */
    /* left: calc(0% - 40px); */
    cursor: pointer;
    border-radius: 50%;
}



  .hidden li{
      transform: translateX(100%);
      /* display: none; */
  }

  .show , .show li{
    /* display: block; */
    transform: translateX(10%);
    /* width: 50%; */

    /* display: none; */
  }

  @media (pointer:none), (pointer:coarse) {
    .img {
      height: 100px;
      width: 100px;
    }
    /* .show, .show li{
      display: inline-block;
    } */
  }

  