/*   xxl: 1400px   extra extra larg  */


/* ///////////////////////// */
/*        hidden class       */
/* ///////////////////////// */

.hidden{display: none !important;}
/* ///////////////////////// */
/*          post             */
/* ///////////////////////// */
.post{
  overflow: hidden;
  box-shadow: 0px 0px 20px var(--shadow);
  border-radius: 20px !important;
  margin-bottom: 20px;
  /* background-color: darkolivegreen; */
  /* max-height: 600px; */
}
.pop_window{
    position: relative;
}

.pop_window .Btn {
    position: absolute !important;
    /* padding: 10px 40px; */
    background-color: var(--ColorSCfont);
}

.pop_window .YESBtn{
    /* grid-column-start: 1; */
    /* margin-right: 5px; */
}

.pop_window .error{
    /* grid-column-start: 2;
    justify-self: center; */
}



.pop_window .NOBtn{
    /* grid-column-start: 3;
    justify-self: end; */
}

.pop_window .NOBtn::before{
    font-family: "FontAwesome";
    content: "\f00d";
    font-size: 20px;
}

.pop_window .YESBtn::before{
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 20px;
}



.post .info .delet_post:hover{color: var(--Error);}

.post .info {
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    box-shadow: 0px 0px 20px var(--shadow);
    margin-bottom: 20px;
    background-color: var(--headPost);
    /* height: 50px; */
}
.post .info .img_owner{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px;
    margin-left: 5px;
    box-shadow: 0px 0px 5px 2px var(--shadow2);
    /* background-color: blue; */
}

/* ################## */
/* name owner of post */
/* ################## */
.post .info .owner{
    cursor: pointer;
    margin: auto;
    color: var(--shadow2);
    margin-left: 4px;
    margin-top: -10px;
    /* top: 0%; */
    font-size: 21px;
    /* background-color: blue; */
    /* width: auto; */
}


.post .title{
    text-align: center;
    font-size: 20px;
    margin: 0%;
    margin-top: -15px;
    /* right: 0%; */
    /* float: right; */
    /* margin-right: 0px; */
    /* margin-left: 100%; */
    /* background-color: darkolivegreen; */
}

.post .info .delet_post{
    cursor: pointer;
    color: var(--Colorfont);
    font-style: normal;
    /* text-align: end; */
    margin-top: -5px;
    /* background-color: cadetblue; */
    height: 30px;
    width: 30px;
}

/* ################## */
/* date creation post */
/* ################## */

.post .info p{
    color: var(--ColorSCfont);
    font-size: 14px;
    text-align: end;
    margin-top: -9px;
    /* margin-right: 4px; */
    /* background-color: burlywood; */
}

.post .info .delet_post::after{
    font-family: "FontAwesome";
    content: "\f1f8";
    font-size: 20px;
}


.post .img_post{
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--shadow);
    /* width: 80%; */
    /* height: 80%; */
    /* width: 400px;
    height: 400px; */
    /* height: 65%; */
    display: block;
    margin: auto;
}

.comment_like{
    /* background-color: darkgrey; */
    /* margin-left: auto;
    margin-right: auto; */
    top: 5px;
}

.like::after{
    font-family: "FontAwesome";
    content: "\f004";
    font-size: 25px;
    color: var(--Error);
    cursor: pointer;
}

.dislike::after{
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-size: 25px;
  color: var(--Error);
  cursor: pointer;
}

.dislike, .like{
    font-size: 15px;
    color: var(--ColorSCfont);
    /* padding-left: 5px; */
}

.comment_like .contener_like {
    /* background-color: darkgoldenrod; */
    /* box-shadow: 0px 1px 2px var(--shadow); */
    margin-top: -65px;
    margin-bottom: 15px;
    /* width: 100%; */
    /* box-shadow: 0px 2px 2px var(--shadow2); */
    /* border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; */
    /* padding-top: 0%; */
    /* margin-top: 0px; */
    height: 40px;
    /* margin-top: 0%; */
    /* display: grid;
    grid-template-columns: 60px auto 100px;
    grid-template-rows: 40px; */
    /* width: 80px;
    height: 40px;
    width: 100%; */
}

.comment_like .contener_like .like,
.comment_like .contener_like .dislike{
    /* background-color: darkgreen; */
    height: 40px;
    font-size: 18px;
    margin-left: 5px;
    /* justify-self: center; */
}

/* .comment_like .contener_like span:first-of-type{
    justify-self: start;
    margin-top: 50%;
} */

.comment_like .contener_like .feedback{
    font-size: 21px;
    /* margin-right: 10px; */
    /* background-color: darkcyan; */
    /* margin: 0px; */
    /* padding: 0%; */
    height: 30px;
    /* justify-self: center;
    margin: auto; */
}

.comment_like .contener_like .commentNbr {
    cursor: pointer;
    color: var(--ColorSCfont);
    margin-right:5px;
    /* background-color: darkmagenta; */
    /* width: 35px; */
    /* padding-right: 5px;
    font-weight: bold;
    justify-self: center;
    margin: auto; */
}

.comment_like .contener_like .commentNbr::after{
    font-family: "FontAwesome";
    content: "\f086";
    font-size: 20px;
}


.contener_comment{
    /* position: relative;
    float: right;
    display: block;
    padding: 0%;
    margin: 0%;
    margin-bottom: 20px;
    width: 100%; */
}

.contener_comment .comment{
    /* max-height: 200px;
    overflow-y: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; */
}


/* ############ */
/* old comments */
/* ############ */
.contener_comment .comment .old_comment{
   /* width: 96%;
   margin-top: 20px; */
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   box-shadow: 0px 2px 2px var(--shadow2);
   /* background-color: darkolivegreen; */
   margin-bottom: 5px;
   /* margin-left: auto;
   margin-right: auto;
   height: auto;
   margin-bottom: 20px; */
   /* display: grid;
   overflow-x: hidden;
   grid-template-columns: 40px 50% auto 10% 30px;
   grid-template-rows: 30px auto auto; */
}
/* ///////////////////////// */
/* commment like and dislike */
/* ///////////////////////// */

.contener_comment .comment .old_comment .dislike::after,
.contener_comment .comment .old_comment .like::after{
    font-size: 20px;
    /* background-color: chartreuse; */
    /* left: 20px; */
}

.contener_comment .comment .old_comment .dislike,
.contener_comment .comment .old_comment .like{
    /* background-color: chartreuse; */
    text-align: center;
    padding: 0%;
    /* grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    margin: auto; */
}


/* ################ */
/* owner of comment */
/* ################ */
.contener_comment .comment .old_comment h4:first-of-type{
    margin: auto;
    cursor: pointer;
    font-size: 17px;
    text-align: start;
    color: var(--ColorSCfont);
    /* background-color: chocolate; */
    margin-top: 0%;
}

/* #################### */
/* botton delet comment */
/* #################### */

.delet_comment::after{
  font-family: "FontAwesome";
  content: "\f1f8";
  font-style: normal;
}

.contener_comment .comment .old_comment .delet_comment{
    color: var(--ColorSCfont);
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    /* background-color: cornflowerblue; */
}

.contener_comment .comment .old_comment .delet_comment:hover{color: var(--Error);}

/* ##################### */
/* date creation comment */
/* ##################### */
.contener_comment .comment .old_comment p:first-of-type{
    /* background-color: cyan; */
    /* grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end; */
    color: var(--ColorSCfont);
    text-align: end;
    font-size: 14px;
    /* padding: 0%; */
    /* margin: 0%; */
    /* margin-right: 0%; */
    /* margin-bottom: auto;
    margin-top: auto; */
    /* margin: auto; */
}

/* ################ */
/* text of comment  */
/* ################ */

.contener_comment .comment .old_comment p:last-of-type{
    /* background-color: darkblue; */
    margin: 5px 0px;
    margin-top: -2px;
    /* margin: 0%; */
    /* grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: auto;
    grid-row-end: auto;
    justify-self: center; */
    /* margin: 10px 0;
    padding: 5px;
    width: 96%;
    height: auto; */
}

.contener_comment .comment .old_comment .pop_window{
    /* grid-column-start: 1;
    grid-column-end: 6; */
}

/* .contener_comment .comment .old_comment .pop_window .Btn {
    
} */



.comment_like .new_comment input[type='submit']{display: none;}
.comment_like .new_comment label::before{
    font-family: "FontAwesome";
    content: "\f1d9";
}

.comment_like .new_comment label{
    cursor: pointer;
    /* margin: auto !important; */
    font-size: 25px;
}

.comment_like .new_comment label:hover{color: var(--ButtonActive);}


.comment_like .new_comment {
    height: 45px;
    background-color: var(--font3);
    border-radius: 15px;
    box-shadow: 0px 0px 12px var(--shadow);
    margin-top: 10px;
}
form{
    /* background-color: lawngreen; */
    width: 100%;
}


.comment_like .new_comment input[name='comment']{
    width: calc(100% - 50px);
    border-style: none;
    height: 100%;
    border-width: 3px;
    background: none;
    font-size: 25px;
    outline-style: none;
    margin: 0%;
    padding-left: 10px;
    /* margin-top: 5px; */
}

.comment_like .new_comment input[name='comment']::placeholder{
    /* padding-left: 10px; */
}

.comment::-webkit-scrollbar {
  width: 5px;
  /* cursor: pointer; */
}
  
  /* Track */
.comment::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
   
  /* Handle */
.comment::-webkit-scrollbar-thumb {
  background: #888; 
}
  
  /* Handle on hover */
.comment::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .post .info .owner{
        font-size: 20px;
    }
    .post .info p{
        /* margin-right: 10px; */
        font-size: 12px;
    }
    .comment_like .contener_like .feedback{
        font-size: 18px;
    }
    .contener_comment .comment .old_comment h4:first-of-type{
        font-size: 18px;
    }
    .contener_comment .comment .old_comment p:first-of-type{
        font-size: 15px;
    }
}
/* @media only screen and (min-width: 600px) and (max-width: 768px) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen  and (max-width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  body{
      /* background-color: gold; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200) {
  body{
      /* background-color: coral; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
      /* background-color: cornflowerblue; */
  }

}
