
/* ///////////////////////// */
/*        hidden class       */
/* ///////////////////////// */

.hidden{display: none !important;}
/* ///////////////////////// */
/*          post             */
/* ///////////////////////// */
.post{
  overflow: hidden;
  box-shadow: 0px 0px 20px var(--shadow);
  border-radius: 20px;
  margin-bottom: 20px;
  grid-column-start: 2;
  grid-column-end: 10;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: lightseagreen;
}
.pop_window{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 65px;
    height: 65px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.pop_window .Btn {
    position: absolute !important;
    padding: 10px 40px;
    background-color: var(--ColorSCfont);
}

.pop_window .YESBtn{
    grid-column-start: 1;
    /* margin-right: 5px; */
}

.pop_window .error{
    grid-column-start: 2;
    justify-self: center;
}



.pop_window .NOBtn{
    grid-column-start: 3;
    justify-self: end;
}

.pop_window .NOBtn::before{
    font-family: "FontAwesome";
    content: "\f00d";
    font-size: 20px;
}

.pop_window .YESBtn::before{
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 20px;
}



.post .info .delet_post:hover{color: var(--Error);}

.post .info {
    padding: 0%;
    box-shadow: 0px 0px 20px var(--shadow);
    margin-bottom: 20px;
    background-color: var(--headPost);
    /* height: 65px; */
    display: grid;
    grid-template-columns: 60px 90px auto 130px;
    grid-template-rows: auto;
}
.post .info .img_owner{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
    box-shadow: 0px 0px 5px 2px var(--shadow2);
}

.post .info .owner{
    padding: 0%;
    justify-self: start;
    margin-top: 20%;
    cursor: pointer;
    margin: auto;
    color: var(--shadow2);
}


.post .title{
    text-align: center;
    justify-self: center;
    font-size: 20px;
}

.post .info .delet_post{
    cursor: pointer;
    color: var(--Colorfont);
    font-style: normal;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end;
    margin: 10px 10px 0px 0px;
}

/* ################## */
/* date creation post */
/* ################## */

.post .info p{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    margin-top: 30%;
    margin-right: 3px;
    color: var(--ColorSCfont);
    font-size: 14px;
}

.post .info .delet_post::after{
    font-family: "FontAwesome";
    content: "\f1f8";
    font-size: 20px;
}


.post .img_post{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--shadow);
}

.comment_like{
    margin-left: auto;
    margin-right: auto;
    top: 10px;
}

.like::after{
    font-family: "FontAwesome";
    content: "\f004";
    font-size: 32px;
    color: var(--Error);
    cursor: pointer;
}

.dislike::after{
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-size: 32px;
  color: var(--Error);
  cursor: pointer;
}

.dislike, .like{
    font-size: 15px;
    color: var(--ColorSCfont);
    /* padding-left: 5px; */
}

.comment_like .contener_like {
    display: grid;
    grid-template-columns: 60px auto 100px;
    grid-template-rows: 40px;
    width: 80px;
    height: 40px;
    width: 100%;
}

.comment_like .contener_like .like,
.comment_like .contener_like .dislike{
    justify-self: center;
}

/* .comment_like .contener_like span:first-of-type{
    justify-self: start;
    margin-top: 50%;
} */

.comment_like .contener_like .feedback{
    justify-self: center;
    margin: auto;
}

.comment_like .contener_like .commentNbr {
    cursor: pointer;
    color: var(--ColorSCfont);
    padding-right: 5px;
    font-weight: bold;
    justify-self: center;
    margin: auto;
}

.comment_like .contener_like .commentNbr::after{
    font-family: "FontAwesome";
    content: "\f086";
    font-size: 20px;
    /* margin-right: 3px; */
    /* padding-right: 3px; */
}


.contener_comment{
    position: relative;
    float: right;
    display: block;
    padding: 0%;
    margin: 0%;
    margin-bottom: 20px;
    width: 100%;
}

.contener_comment .comment{
    max-height: 200px;
    overflow-y: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ############ */
/* old comments */
/* ############ */
.contener_comment .comment .old_comment{
   width: 96%;
   margin-top: 20px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   box-shadow: 0px 2px 2px var(--shadow2);
   margin-left: auto;
   margin-right: auto;
   height: auto;
   margin-bottom: 20px;
   display: grid;
   overflow-x: hidden;
   grid-template-columns: 40px 50% auto 10% 30px;
   grid-template-rows: 30px auto auto;
}
/* ///////////////////////// */
/* commment like and dislike */
/* ///////////////////////// */

.contener_comment .comment .old_comment .dislike::after,
.contener_comment .comment .old_comment .like::after{
    font-size: 20px;
    left: 20px;
}

.contener_comment .comment .old_comment .dislike,
.contener_comment .comment .old_comment .like{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    margin: auto;
}


/* ################ */
/* owner of comment */
/* ################ */
.contener_comment .comment .old_comment h4:first-of-type{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    margin: auto;
    cursor: pointer;
}

/* #################### */
/* botton delet comment */
/* #################### */

.delet_comment::after{
  font-family: "FontAwesome";
  content: "\f1f8";
  font-style: normal;
}

.contener_comment .comment .old_comment .delet_comment{
    color: var(--ColorSCfont);
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end;
    margin: 5px 5px 0px 0px;
    cursor: pointer;
    /* margin: auto; */
}

.contener_comment .comment .old_comment .delet_comment:hover{color: var(--Error);}

/* ##################### */
/* date creation comment */
/* ##################### */
.contener_comment .comment .old_comment p:first-of-type{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end;
    color: var(--ColorSCfont);
    margin-bottom: auto;
    margin-top: auto;
    /* margin: auto; */
}

/* ################ */
/* text of comment  */
/* ################ */

.contener_comment .comment .old_comment p:last-of-type{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: auto;
    grid-row-end: auto;
    justify-self: center;
    margin: 10px 0;
    padding: 5px;
    width: 96%;
    height: auto;
}

.contener_comment .comment .old_comment .pop_window{
    grid-column-start: 1;
    grid-column-end: 6;
}

/* .contener_comment .comment .old_comment .pop_window .Btn {
    
} */



.comment_like .new_comment input[type='submit']{display: none;}
.comment_like .new_comment label::before{
    font-family: "FontAwesome";
    content: "\f1d9";
}

.comment_like .new_comment label{
    cursor: pointer;
    margin: auto !important;
    font-size: 25px;
}

.comment_like .new_comment label:hover{color: var(--ButtonActive);}


.comment_like .new_comment {
    height: 45px;
    margin-top: 15px;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--font3);
    border-radius: 15px;
    box-shadow: 0px 0px 20px var(--shadow);
}


.comment_like .new_comment input[name='comment']{
    width: calc(100% - 60px);
    border-style: none;
    height: 41px;
    border-width: 3px;
    background: none;
    font-size: 25px;
    outline-style: none;
    padding-left: 10px;
}

.comment_like .new_comment input[name='comment']::placeholder{
    padding-left: 10px;
}

.comment::-webkit-scrollbar {
  width: 5px;
  /* cursor: pointer; */
}
  
  /* Track */
.comment::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
   
  /* Handle */
.comment::-webkit-scrollbar-thumb {
  background: #888; 
}
  
  /* Handle on hover */
.comment::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}


