@import "Colors.css";



.conten_img {
    width: 200px;
    height: 200px;
    margin-left: calc(50% - 100px);
    border-radius: 20%;
    cursor: pointer;
    border: dashed 1px green;
    overflow: hidden;
  }
  
.change_avatar{
    width: 100%;
    height: 100%;
    border-radius: 20%;
    overflow: hidden;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
}

.conten_img::before {
  content: "click to change";
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
  display: none;
}

.conten_img:hover::before {
  display: block;  
}


.modal{
  display: inline-block;
  border-radius: 20px;
  height: 500px;
  width: 90%;
  max-width: 1000px;
  padding: 0%;
  /* align-self: center; */
  top: 80px;
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  /* justify-content: space-around; */
  /* border: orangered dashed 2px; */
}

.btn-1{left: 20px;}
.btn-2{right: calc(50% - 40px);}
.cancel{right: 20px;}

.modal input{
  overflow: hidden;
  display: none;
}

.modal label{
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  outline: none;
  padding: 1rem 50px;
  position: absolute;
  transition: all 0.3s;
  bottom: 20px;
  
}

.modal label{
  background-color: var(--Button);
  overflow: hidden;
}

.btn-1::before{content: "\f093";}
.btn-2::before{content: "\f030";}
.cancel::before{content: "\f00d";}


label::before{
  font-family: "FontAwesome";
  font-size: 100%;
  height: 100%;
  right: 130%;
  line-height: 3.3;
  position: absolute;
  top: 0px;
  transition: all 0.3s;
}
.modal label:hover {background-color: var(--ButtonActive);}
.modal label:hover::before {right: 75%;}

.select{
  text-align-last:center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}