@import "Colors.css";



.conten_img {
    width: 200px;
    height: 200px;
    margin-left: calc(50% - 100px);
    border-radius: 20%;
    cursor: pointer;
    /* border: dashed 1px green; */
    display: block;
    overflow: hidden;
  }
  
.change_avatar{
    width: 100%;
    height: 100%;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
}

.conten_img::after {
  content: "click to change";
  position: absolute;
  top: -50%;
  left: -60%;
  background: none;
  position: relative;
  transition: all 0.3s
}

.conten_img:hover::after {
  left: 20%;
}

.modal{
  top: 80px;
  border-radius: 20px;
  width: 0px;
  height: 0px;
  margin-left: calc(50% - 300px);
  margin-right: calc(50% - 300px);
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  transition: all 0.5s

  }

.modal-show{
  width: 600px;
  height: 500px;
}



.btn-1{left: 20px;}
.btn-2{right: calc(50% - 70px);}
.cancel{right: 20px; top: 20px;}
.ok{right: 20px;}

.modal input{
  overflow: hidden;
  display: none;
}


.modal label{
  display: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 1rem 50px;
  position: absolute;
  transition: all 0.3s;
  bottom: 20px;
  height: 25px;
  width: 40px;
}

.modal img{
  display: none;
}

.modal-show label{
  display: block;
}

.modal-show img{
  display: block;
  width: 400px;
  height: 400px;
  outline: none;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 15px;
  /* border : none; */
  /* border: orangered dashed 2px; */
}

.modal label{
  background-color: var(--Button);
  overflow: hidden;
}

.btn-1::before{content: "\f093";}
.btn-2::before{content: "\f030";}
.cancel::before{content: "\f00d";}


label::before{
  font-family: "FontAwesome";
  font-size: 100%;
  height: 100%;
  right: 130%;
  line-height: 3.3;
  position: absolute;
  top: 0px;
  transition: all 0.3s;
}
.modal label:hover {background-color: var(--ButtonActive);}
.modal label:hover::before {right: 75%;}

.select{
  text-align-last:center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.msj_new_av{
  text-align: center;
  color: white;
}

@media only screen and (max-width: 600px){
  .modal-show{
    width: 100%;
    height: 80%;
    margin: 0%;
  }

  .modal-show img {
    margin-top: calc(100% - 200px);
    margin-left: calc(50% - 200px);
  }

  .btn-1{left: 20px;}
  .btn-2{
    right: 20px;
  }
  .ok{
    top: 20px;
    left: 20px;
  }
  label::before{
    right: 75%;
  }
  .conten_img::after {
    left: 20%;
  }
}